.adminHeading {
    background-color: black; 
    color: #32CD32; 
    font-size: 2em; 
    padding-left: 10%; 
    margin: 0; 
    padding-top: 50px; 
    padding-bottom: 30px; 
    font-family: 'Ninja Naruto', sans-serif; 
}
