.header {
    width: 100vw;
    height: 60px;
    background-color: #FF7F00;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px; 
    padding-left: 20px; 
    box-sizing: border-box;
    overflow-x: hidden;
}

.appName {
    font-size: 20px; 
    font-weight: 700; 
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: black;
    padding-left: 20px; 
    margin: 0; 
    align-self: center; 
    flex-grow: 0; 
    flex-shrink: 0;
}

.connectStatus {
    font-size: 14px;
    font-weight: 600;
    color: #FF7F00;
    border: 2px solid #FF7F00;
    padding: 8px 16px;
    border-radius: 10px 10px 10px 10px ; 
    background-color: black;
    margin: -2px;
    margin-left: auto;
    box-sizing: border-box; 
}

.adminButton {
    background-color: #FF7F00; 
    color: black;
    border: 2px solid black; 
    border-radius: 5px;
    padding: 10px 15px;
    margin-left: 20px; 
    cursor: pointer;
    font-weight: bold;
    font-family: 'Ninja Naruto', sans-serif; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); 
    transition: background-color 0.3s, color 0.3s;
}

.adminButton:hover {
    background-color: black; 
    color: #FF7F00; 
}

.adminButton:disabled {
    background-color: #CCCCCC;
    color: black; 
    cursor: not-allowed; 
    box-shadow: none; 
}
